[Desktop Entry]
Name=Eclipse
Comment=Eclipse IDE
Type=Application
Encoding=UTF-8
Exec=/usr/local/bin/eclipse
Icon=/opt/eclipse/icon.xpm
Categories=Development;
Terminal=false
StartupNotify=true